body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #ffffff;
  background-color: #849d8f;
}

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header-nav ul {
  list-style: none;
}

.header-nav__site a,
.header-nav__user a {
  color: #ffffff;
}

.header-nav__site a:hover,
.header-nav__user a:hover,
.header-nav__site a:focus,
.header-nav__user a:focus {
  color: #323232;
  background-color: #f8f7f4;
}

.header-nav__site {
  line-height: 18px;
  font-weight: 700;
}

.sub-nav__site {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}

.sub-nav__site a {
  color: #323232;
}

.sub-nav__site a:hover,
.sub-nav__site a:focus {
  background-color: #fbded7;
}

a.catalog-new {
  font-weight: 700;
}

.header-nav__user {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.header-nav__user a {
  text-decoration: none;
}

.header-nav__search {
  position: relative;
  margin-top: 12px;
  width: 32px;
  height: 32px;
  overflow: hidden;
}

.header-nav__search:hover,
.header-nav__search:focus {
  overflow: visible;
}

.search-form {
  position: absolute;
  width: 341px;
  height: 120px;
  left: -304px;
  top: 0px;
}

.input-outline {
  position: absolute;
  width: 341px;
  height: 84px;
  top: 36px;
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;
}

.button--search {
  display: block;
  margin-left: auto;
  margin-right: 5px;
  padding: 0;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  font-size: 0;
  border: none;
  cursor: pointer;
  background: #a1b4a9 url(../img/loupe.svg) center no-repeat;
}

.button--search:hover {
  background: #f8f7f4 url(../img/search_hover.png) center center no-repeat;
}

.search-input {
  position: absolute;
  width: 311px;
  height: 44px;
  padding-left: 13px;
  border-radius: 5px;
  border: 1px solid #d3d3d2;
  top: 20px;
  right: 15px;
}

.search-input[placeholder="Что ищем?"] {
  font-size: 14px;
  color: #999999;
}

.header-content__time {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
}

a.header-content__phone {
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
}

.slide__title {
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
  text-align: center;
}

.button {
	display: block;
  font: inherit;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-decoration: none;
  background: linear-gradient( 90deg, rgba(231, 74, 53, 1) 0%, rgba(242, 104, 67, 1) 100%);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  border: none;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background: linear-gradient( 90deg, rgba(231, 74, 53, 0.8) 0%, rgba(242, 104, 67, 0.8) 100%);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 1);
}

.button:active {
  background: linear-gradient( 90deg, rgba(242, 104, 67, 1) 0%, rgba(231, 74, 53, 1) 100%);
  box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 1);
}

.button--slide {
	width: 280px;
	height: 64px;
  font-size: 32px;
  line-height: 64px;
  font-weight: 700;
  border-radius: 32px;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
}

.banners h3 {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

.banners p {
  font-size: 18px;
  font-weight: 700;
}

.banner__raspberry,
.banner__chocolate {
  width: 560px;
  height: 229px;
  border-radius: 15px;
  background-position: center;
  background-repeat: no-repeat;
}

.banner__raspberry {
  background-image: url(../img/raspberry.jpg);
}

.banner__chocolate {
  background-image: url(../img/chocolate.jpg);
}

.button--banner {
	width: 165px;
	height: 46px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  border-radius: 23px;
}

.hits__list {
  list-style: none;
}

.product__title a {
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
}

.product__cost a {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  text-align: left;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

.product__image {
  border-radius: 50%;
}

.product__cost .product__dimension {
  font-size: 30px;
}

.button--quickview {
	width: 193px;
	height: 44px;
  font-size: 18px;
  line-height: 44px;
  font-weight: 700;
  border-radius: 22px;
}

.about-us {
  width: 1146px;
  height: 306px;
  background-image: url(../img/wafer.jpg);
  background-position: center;
  background-repeat: repeat;
  border-radius: 15px;
}

.about-us__title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  color: #323232;
}

.about-us__advantages {
  list-style: none;
  color: #323232;
}

.content__news {
  width: 560px;
  height: 220px;
  border-radius: 15px;
  background-image: url(../img/strawberry.jpg);
  background-position: center;
  background-repeat: no-repeat;
}

.content__news h2 {
	font-size: 16px;
	line-height: 22px;
	font-weight: 500;
	color: #323232;
}

.content__news a {
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;
	color: #323232;
}

.content__subscription {
  position: relative;
  width: 560px;
  height: 220px;
  border-radius: 15px;
  background-color: #f8f7f4;
  background-image: url("../img/postal.jpg");
  background-position: 3px 0;
  background-repeat: repeat;
  z-index: 1;
}

.content__subscription::before {
  content: "";
  position: absolute;
  width: 549px;
  height: 211px;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 10px;
  background-color: #f8f7f4;
  z-index: -1;
}

.content__subscription p {
	color: #5a5a5a;
}

.subscription-form input {
  width: 353px;
  height: 45px;
  padding-left: 15px;
  border-radius: 5px;
  border: 1px solid #b2b2b2;
}

.subscription-form input[placeholder="Электронная почта"] {
  font-size: 16px;
  color: #999999;
}

.button--subscription {
	display: inline-block;
	width: 129px;
	height: 44px;
	border-radius: 22px;
}

.contacts {
	color: #323232;
	border-radius: 10px;
	background-color: #ffffff;
}

.contacts h4,
.contacts p {
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
}

.contacts b {
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
}

.button--contacts {
	width: 252px;
	height: 44px;
	font-size: 18px;
  	line-height: 44px;
  	font-weight: 700;
  	border-radius: 22px;
}

.main-footer__social,
.main-footer__documentation {
	list-style: none;
}

.main-footer__documentation a {
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;
	color: #ffffff;
}

.main-footer__documentation .contractors {
	font-weight: 700;
}

.main-footer__copyright p {
	font-size: 12px;
	line-height: 18px;
	font-weight: 400;
}

.main-footer__copyright a {
	color: #ffffff;
}

1.modal {
  position: fixed;
}

1.modal--login {
  top: -12px;
  right: 190px;
}


.login-form {
  margin-top: 5px;
  padding-left: 18px;
  width: 259px;
  height: 214px;
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;
}

.modal p {
  margin: 0;
}

.login-input,
.password-input {
  margin-top: 18px;
  padding-left: 13px;
  width: 228px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #d3d3d2;
}

.password-input {
  margin-top: 20px;
  margin-bottom: 23px;
}

.login-input[placeholder="Электронная почта"],
.password-input[placeholder="Пароль"] {
  font-size: 14px;
  color: #999999;
}

.button--login {
  display: inline-block;  
  width: 100px;
  height: 44px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  border-radius: 22px;
}

p.form-footer {
  display: inline-block;
  margin-left: 19px;
  width: 125px;
  font-size: 13px;
  line-height: 20px;
  
}

.form-footer a {
  color: #323232;
}

.modal--feedback {
  padding-top: 19px;
  padding-left: 25px;
  padding-right: 25px;
  width: 428px;
  height: 424px;
  top: 328px;
  left: 388px;
  border-radius: 10px;
  color: #323232;
  background-color: #f8f7f4;
}

p.lead {
  font-size: 24px;  
}

.username-input,
.email-input {
  margin-top: 24px;
  padding-left: 15px;
  width: 252px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #b2b2b2;
}

.email-input {
  margin-top: 20px;
  margin-bottom: 19px;
}


.username-input[placeholder="Как вас зовут?"],
.email-input[placeholder="Ваша почта для ответа?"] {
  font-size: 16px;
  color: #999999;
}

.message-textarea {
  padding-top: 12px;
  padding-left: 12px;
  width: 412px;
  height: 140px;
  color: #999999;
  border-radius: 5px;
  border: 1px solid #b2b2b2;
}

.button--feedback {
  display: block;
  margin-top: 19px;
  margin-left: auto;
  width: 139px;
  height: 44px;
  border-radius: 22px;
}

.modal-close {
	display: block;
    width: 18px;
  height: 17px;
  font-size: 0;
  border: none;
  cursor: pointer;
  background-color: transparent;
  background-image: url(../img/cross-big.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.breadcrumbs {
	list-style: none;
}

.breadcrumbs a {
	font-size: 14px;
	line-height: 16px;
	font-weight: 400;
	color: #ffffff;
}

.main-content h1 {
	font-size: 35px;
	line-height: 41px;
	font-weight: 700;
}

.filter legend,
.filter__cost label {
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
}


.cost-controls input {
  width: 25px;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
  color: #ffffff;
  border: none;
  background-color: #849d8f;
}

.range-controls {
  position: relative;
  padding-top: 16px;
  padding-right: 17px;
  padding-left: 17px;
  width: 186px;
  height: 21px;
  border-radius: 50px;
  background-color: #aabbb1;
}

.range-controls .scale {
  height: 5px;
  background-color: #d1dad3;
}

.range-controls .bar {
  margin-left: 20%;
  width: 50%;
  height: 5px;
  background-color: #f8f7f4;
}

.range-controls .toggle {
  position: absolute;
  top: 8px;
  left: 0px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
  background-color: #f8f7f4;
}

.range-controls .toggle-min {
  left: 20%;
}

.range-controls .toggle-max {
  left: 60%;
}

.fat-fieldset,
.fillers-fieldset {
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	list-style: none;
}

.main-form__button {
  cursor: pointer;
  color: inherit;
  font-size: 16px;
  padding: 8px 28px;
  border-radius: 20px;
  border: 2px solid #ffffff;
  background-color: #9cb0a4;
}

.main-form__button:hover,
.main-form__button:focus {
	color: #323232;
	background-color: #ffffff;
}

.main-form__button:active {
	border: none;
	box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 1);
}


.paginator {
  list-style: none;
}

.paginator a {
	position: relative;
	display: inline-block;
  vertical-align: top;
  min-width: 25px;
  height: 25px;
  text-align: center;
  text-decoration: none;
  line-height: 25px;
  color: #ffffff;
}

.prev,
.next {
  font-size: 0;
}

.prev a::before,
.next a::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border-top: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
}

.prev a::before {
  top: 8px;
  right: 7px;
  transform: rotate(-135deg);
}

.next a::before {
  top: 8px;
  left: 9px;
  transform: rotate(45deg);
}

.paginator__item--current a {
  border-radius: 50%;
  color: #000000;
  background-color: #ffffff;
}

.disabled a {
  opacity: 0.2;
}

.modal--cart {
  padding-top: 7px;
  padding-right: 15px;
  padding-left: 15px;
  width: 510px;
  height: 234px;
  top: 49px;
  right: 63px;
  font-size: 13px;
  line-height: 16px;
  color: #323232;
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;
}

.modal--cart table {
  border-collapse: collapse;
  table-layout: fixed;
  border-bottom: 1px solid #cacac7;
}

.modal--cart td {
  vertical-align: top;  
}

td.cart__close,
td.cart__article,
td.cart__value,
td.cart__dimension,
td.cart__operator,
td.cart__cost,
td.cart__ruble,
td.cart__result {
	padding-top: 20px;
}

td.cart__close {
  width: 10px;
}

.modal-delete {
	display: block;
    width: 11px;
  height: 11px;
  font-size: 0;
  border: none;
  cursor: pointer;
  background-color: transparent;
  background-image: url(../img/cross-small.svg);
  background-position: center;
  background-repeat: no-repeat;
}

td.cart__close--next {
  padding-bottom: 32px;
}

td.cart__image {
  padding-top: 12px;
  padding-left: 12px;
  width: 33px;
}

.cart__image img {
  vertical-align: top;
}

td.cart__image--next {
  padding-top: 17px;
}

td.cart__article {
  padding-left: 13px;
  padding-right: 13px;
  width: 220px;
}

td.cart__value {
  padding-left: 10px;
}

td.cart__result {
  padding-left: 23px;
}

td.cart__ruble--total {
  padding-right: 19px;
}

td.cart__close--next,
td.cart__article--next,
td.cart__value--next,
td.cart__dimension--next,
td.cart__operator--next,
td.cart__cost--next,
td.cart__ruble--next,
td.cart__result--next,
td.cart__ruble--next {
  padding-top: 26px;
}

p.cart__total {
  margin-top: 15px;
  text-align: right;
  font-size: 15px;
  font-weight: bold;
}

.button--order {
  display: block;
  margin-top: 17px;
  margin-left: auto;
  width: 170px;
  height: 44px;
  border-radius: 22px;
  font-size: 18px;
  line-height: 40px;
  font-weight: bold;
}

